@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Press+Start+2P&display=swap");
.u-margin-top-row {
  margin-top: 5rem;
}

.u-margin-bottom {
  margin-bottom: 5rem;
}

.u-padding {
  padding: 5rem 0rem !important;
}

@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/****************** button animation */
@-webkit-keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@-webkit-keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}

/* © Devsfront
// Autor: BAH ISMAILA
/* Copyright Not A Number and his devs

                    .
                    d8b
                d88888b
                d888Y Y888b
            d888Y  .  Y888b
            d888Y   d8b   Y888b
        d888Y   d88888b   Y888b
            ""   d888Y Y888b   ""
            d888Y  .  Y888b
                ""   d8b   ""
                d88888b
8888b   88888     Y8b     8888b   88888
    8888b   888       '       8888b   888
    88888b  888               88888b  888
    888Y88b 888    88888b.    888Y88b 888
    888 Y88b888    "   "88b   888 Y88b888
    888  Y88888   .d8888888   888  Y88888
    888   Y8888   888   888   888   Y8888
88888   Y888   "Y88888"88 88888   Y888 
/*---------------------------------------------
*
* MAIN.CSS
*
*/
/* General code*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 991px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 576px) {
  html {
    font-size: 55%;
  }
}

body {
  font-size: 1.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 246, 255, 0.4)), to(rgba(245, 246, 255, 0.4))), url("../images/topographic-pattern.png");
  background-image: linear-gradient(rgba(245, 246, 255, 0.4), rgba(245, 246, 255, 0.4)), url("../images/topographic-pattern.png");
  background-size: 10rem;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

a, a:hover {
  text-decoration: none;
  color: #0d0e1b;
}

.navigation-content__menu__link {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.4rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-transform: capitalize;
}

.navigation-content__menu__link:hover {
  color: #FFF;
}

.sidebar__menu__link {
  font-size: 1.6rem;
  color: #FFF;
  text-transform: capitalize;
}

.sidebar__menu__link:hover {
  color: #FFF;
}

.sidebar__menu__link--collapse {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
}

.menu-hover__card__desc h5 {
  font-size: 1.6rem;
  color: rgba(13, 14, 27, 0.8);
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

.menu-hover__card__desc a {
  font-size: 1.5rem;
  color: rgba(13, 14, 27, 0.5);
  display: block;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.menu-hover__card__desc a:hover {
  text-decoration: underline;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-text h1 {
  font-size: 4rem;
  color: #FFF;
  text-transform: uppercase;
}

.bg-text {
  position: absolute;
  font-size: 5rem;
  font-weight: bold;
  color: rgba(119, 127, 255, 0.1);
  left: 50%;
  top: 5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.bg-text--fade {
  color: rgba(13, 14, 27, 0.1);
}

@media only screen and (max-width: 576px) {
  .bg-text {
    font-size: 4rem;
  }
}

.section-title {
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
  font-weight: 600;
  color: #0d0e1b;
  text-transform: uppercase;
}

@media only screen and (max-width: 576px) {
  .section-title {
    font-size: 2.5rem;
  }
}

.section-title--white {
  color: #FFF;
}

.section-text-bloc {
  padding: 0 5rem;
}

@media only screen and (max-width: 991px) {
  .section-text-bloc {
    padding: 0;
  }
}

.section-text-bloc h3 {
  font-size: 3rem;
  padding-bottom: 2rem;
  font-weight: bold;
  text-transform: capitalize;
  color: rgba(13, 14, 27, 0.8);
  position: relative;
  margin-bottom: 3rem;
}

.section-text-bloc h3::before {
  content: "";
  height: .5rem;
  width: 100%;
  background-color: #777fff;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0.3rem;
}

.section-text-bloc h4 {
  font-size: 4rem;
  color: #777fff;
  position: relative;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 576px) {
  .section-text-bloc h4 {
    font-size: 3rem;
  }
}

.section-text-bloc h5 {
  font-size: 2rem;
  color: #777fff;
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: .5rem;
}

.section-text-bloc h5::after {
  content: "";
  height: .2rem;
  width: 10rem;
  background-color: #777fff;
  position: absolute;
  left: 0;
  bottom: 0;
}

.section-text-bloc p {
  color: rgba(13, 14, 27, 0.5);
  font-size: 1.7rem;
  line-height: 2;
}

.section-text-bloc--admission {
  padding: 0;
}

.section-text-bloc--admission h4 {
  color: rgba(255, 255, 255, 0.9);
}

.section-text-bloc--admission p {
  color: rgba(255, 255, 255, 0.9);
}

.section-text-bloc--npadding {
  padding: 0;
}

.section-call {
  color: #FFF;
}

.section-call h3 {
  font-size: 3rem;
  font-weight: 400;
}

.module-title {
  font-size: 3rem;
  color: #0d0e1b;
  font-weight: bold;
  margin-bottom: 4rem;
  text-transform: capitalize;
  position: relative;
  padding: 0 0 1rem 0;
}

.module-title::before {
  content: "";
  height: .2rem;
  width: 10rem;
  background-color: #0f7a8b;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 767px) {
  .module-title {
    text-align: center;
  }
  .module-title::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.module-text {
  color: rgba(13, 14, 27, 0.5);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.section-heading {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
  color: rgba(13, 14, 27, 0.5);
}

.space-bloc-title {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: rgba(13, 14, 27, 0.8);
  text-transform: capitalize;
  position: relative;
  padding-bottom: 1rem;
}

.space-bloc-title::before {
  content: "";
  position: absolute;
  height: .2rem;
  width: 15rem;
  background-color: rgba(13, 14, 27, 0.8);
  bottom: 0;
}

button:focus {
  outline: none;
}

.button {
  padding: .8rem 2rem;
  border: none;
  background-color: #FFF;
  border-radius: 3rem;
  color: #777fff;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-transform: capitalize;
}

.button:hover {
  color: #FFF;
  background-color: #777fff;
}

.button:focus {
  outline: none;
}

.button--violet {
  color: #FFF;
  background-color: #777fff;
  padding: 1rem 3rem;
  display: inline-block;
  margin: 5rem 0 0;
}

.button--newletter {
  border-radius: 7px;
  border: 1px solid transparent;
  background-color: #0f7a8b;
  color: #FFF;
  padding: 0 4rem;
  height: 6rem;
  border: none;
  margin-right: -5rem;
  margin-top: -.1rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.button--newletter:focus {
  outline: none;
}

@media only screen and (max-width: 991px) {
  .button--newletter {
    margin-right: -1rem;
  }
}

@media only screen and (max-width: 576px) {
  .button--newletter {
    display: block;
    margin: 2rem auto;
  }
}

/**** button index 2 ********************/
.button-header2 {
  display: inline-block;
  padding: 1.5rem 3rem;
  color: #FFF;
  background-color: #777fff;
  border-radius: 3rem;
  border: none;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
}

.button-header2:focus {
  outline: none;
}

.button-header2:hover {
  color: #FFF;
}

@media only screen and (max-width: 991px) {
  .button-header2 {
    margin: 4rem auto 0;
  }
}

.btn-form {
  padding: .8rem 2rem;
  border: none;
  background-color: #777fff;
  border-radius: 0.3rem;
  color: #FFF;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-transform: capitalize;
  position: relative;
}

.btn-form:hover {
  background-color: rgba(119, 127, 255, 0.9);
}

.btnLink {
  color: #0f7a8b;
  font-size: 1.6rem;
  font-weight: bold;
  display: inline-block;
  margin-top: 2rem;
}

.btnLink:hover {
  color: #0f7a8b;
  text-decoration: underline;
}

.btn-accordion {
  background-color: #777fff;
  display: block;
  width: 100%;
  padding: 2rem;
  border-radius: 0.3rem;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}

.btn-error {
  padding: .5rem 2rem;
  background-color: #777fff;
  color: #FFF;
  text-transform: capitalize;
  margin-top: 2rem;
}

.btn-error:hover {
  color: rgba(255, 255, 255, 0.6);
}

.menu-hover__card {
  width: 25rem;
  padding: 1.5rem;
}

.menu-hover__card__icon {
  height: 5rem;
  width: 5rem;
}

.menu-hover__card__icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-feature {
  width: 35rem;
  border-radius: 0.3rem;
  overflow: hidden;
  text-align: center;
}

.card-feature-desc {
  border-radius: 0.3rem;
  padding: 2rem;
}

.card-feature-desc h4 {
  text-transform: capitalize;
  color: #0f7a8b;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1rem;
}

.card-feature-desc p {
  color: rgba(13, 14, 27, 0.5);
}

.card-feature-desc a {
  color: #0f7a8b;
  font-size: 1.5rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-style: italic;
}

.card-feature-desc a:hover {
  text-decoration: underline;
}

.card-feature-icon {
  height: 15rem;
  margin: 0 auto;
}

.card-feature-icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 1200px) {
  .card-feature {
    width: 30rem;
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 767px) {
  .card-feature {
    width: 100%;
  }
}

.card-speciality {
  padding: 2rem 0;
  height: 20rem;
  -webkit-box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  text-align: center;
  background-color: rgba(13, 14, 27, 0.9);
}

.card-speciality .icon {
  height: 5rem;
  width: 5rem;
  margin: 0 auto 2rem;
}

.card-speciality .icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-speciality span {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  text-transform: capitalize;
}

.card-news {
  background-color: #FFF;
  border-radius: 0.3rem;
  overflow: hidden;
  margin-bottom: 2rem;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  text-align: left;
}

.card-news:hover {
  -webkit-box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
}

.card-news:hover .card-news__illustration img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card-news__link {
  font-size: 1.5rem;
  color: #0f7a8b;
  -webkit-transition: ease .3s;
  transition: ease .3s;
  margin-top: 2rem;
  display: inline-block;
}

.card-news__link:hover {
  text-decoration: underline;
  color: #0f7a8b;
}

.card-news__illustration {
  height: 25rem;
  overflow: hidden;
}

.card-news__illustration img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.card-news__desc {
  padding: 2rem;
}

.card-news__desc h4 {
  font-size: 2.3rem;
  color: rgba(13, 14, 27, 0.9);
  font-weight: bold;
}

.card-news__desc p {
  font-size: 1.5rem;
  color: rgba(13, 14, 27, 0.5);
  margin: 2rem 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-news__desc__pub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-news__desc__pub .icon {
  height: 2rem;
  width: 2rem;
}

.card-news__desc__pub .icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card-news__desc__pub span {
  display: block;
  font-size: 1.4rem;
  color: rgba(13, 14, 27, 0.5);
  margin: 1rem 0 0 .5rem;
}

.card-team {
  background-color: #FFF;
  -webkit-box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  overflow: hidden;
  margin-bottom: 4rem;
  border-bottom: 2px solid rgba(119, 127, 255, 0.9);
}

.card-team__photo {
  height: 30rem;
  overflow: hidden;
}

.card-team__photo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  -webkit-transition: ease-out .5s;
  transition: ease-out .5s;
}

.card-team__desc {
  text-align: center;
  padding: 2rem 0;
}

.card-team__desc h4 {
  font-size: 2.5rem;
  color: rgba(119, 127, 255, 0.9);
  margin-bottom: 1rem;
  font-weight: bold;
  text-transform: capitalize;
}

.card-team__desc span {
  font-size: 1.5rem;
  color: rgba(13, 14, 27, 0.5);
  text-transform: capitalize;
}

.card-team:hover .card-team__photo img {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card-testamonial {
  border-radius: 0.3rem;
  border: 1px solid rgba(13, 14, 27, 0.1);
  background-color: #FFF;
  padding: 2rem;
}

.card-testamonial__illustration {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin: 0 auto 3rem;
  border: 1px dashed #777fff;
  padding: .5rem;
}

.card-testamonial__illustration img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.card-testamonial__desc .name {
  text-align: center;
  padding-bottom: 4rem;
}

.card-testamonial__desc .name h4 {
  font-size: 2rem;
  color: rgba(13, 14, 27, 0.9);
  text-transform: capitalize;
}

.card-testamonial__desc .name .date {
  font-size: 1.2rem !important;
}

.card-testamonial__desc p {
  font-size: 1.5rem;
  color: rgba(13, 14, 27, 0.5);
}

.card-testamonial__desc span {
  color: rgba(13, 14, 27, 0.5);
  font-size: 1.6rem;
  display: block;
}

.card-module {
  border-radius: 0.3rem;
  -webkit-box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  overflow: hidden;
  margin-bottom: 5rem;
  border-bottom: 2px solid #777fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card-module:hover {
  -webkit-transform: translateY(-0.8rem);
          transform: translateY(-0.8rem);
}

.card-module__illustration {
  height: 20rem;
}

.card-module__illustration img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-module__desc {
  padding: 2rem;
}

.card-module__desc h4 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #0f7a8b;
}

.card-module__desc p {
  font-size: 1.5rem;
  color: rgba(13, 14, 27, 0.5);
  margin: 2rem 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-module__desc a {
  color: #0f7a8b;
  font-size: 1.5rem;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

.card-module__desc a:hover {
  text-decoration: underline;
}

.card-service {
  border-radius: 0.3rem;
  -webkit-box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  padding: 1rem;
  margin-bottom: 3rem;
}

.card-service__icon {
  height: 5rem;
  width: 5rem;
  margin-bottom: 2rem;
}

.card-service__icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-service__desc h4 {
  font-size: 2rem;
  color: #0d0e1b;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.card-service__desc p {
  color: rgba(13, 14, 27, 0.5);
  font-size: 1.6rem;
}

.card-realisation {
  border-radius: 0.3rem;
  -webkit-box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
  background-color: #777fff;
  overflow: hidden;
  margin-bottom: 3rem;
}

.card-realisation__image {
  height: 30rem;
  overflow: hidden;
}

.card-realisation__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  -webkit-transition: ease-in-out 3s;
  transition: ease-in-out 3s;
  top: 0;
}

.card-realisation__image:hover img {
  -webkit-transform: translateY(calc(-100% + 30rem));
          transform: translateY(calc(-100% + 30rem));
}

.card-realisation__desc {
  padding: 1rem 0;
  text-align: center;
}

.card-realisation__desc h4 {
  font-size: 2rem;
  color: #FFF;
  text-transform: capitalize;
}

.card-contact {
  padding: 2rem;
  border-radius: 0.3rem;
  -webkit-box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 20rem;
  background-color: #FFF;
}

.card-contact:first-child {
  margin-right: 4rem;
}

.card-contact span {
  font-size: 1.6rem;
  color: rgba(13, 14, 27, 0.5);
}

.card-contact .icon {
  height: 4rem;
  width: 4rem;
  margin: 0 auto  2rem;
}

.card-contact .icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 991px) {
  .card-contact:first-child {
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 414px) {
  .card-contact {
    width: 80%;
  }
  .card-contact:first-child {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.card-object {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  margin: 0 auto 3rem;
  border: 2px solid #777fff;
  position: relative;
  text-align: center;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.29);
}

.card-cours {
  border-radius: 0.3rem;
  -webkit-box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  overflow: hidden;
  margin-bottom: 3rem;
}

.card-cours__illustration {
  height: 20rem;
}

.card-cours__illustration img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-cours__desc {
  padding: 1rem;
}

.card-cours__desc h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

.card-coursAssocie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
}

.card-coursAssocie__illustration {
  height: 15rem;
  width: 25rem;
  margin-right: 2rem;
}

.card-coursAssocie__illustration img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-coursAssocie__desc {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.card-coursAssocie__desc h4 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #0d0e1b;
  font-weight: 600;
  margin-bottom: 2rem;
}

.card-coursAssocie__desc p {
  font-size: 1.4rem;
  color: rgba(13, 14, 27, 0.5);
}

.card-coursAssocie__desc .coursAssocie-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.card-coursAssocie__desc .coursAssocie-info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-right: 2rem;
}

.card-coursAssocie__desc .coursAssocie-info__content .icon {
  height: 2rem;
  width: 2rem;
  margin-right: .5rem;
}

.card-coursAssocie__desc .coursAssocie-info__content .icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-coursAssocie__desc .coursAssocie-info__content span {
  font-size: 1.5rem;
  color: rgba(13, 14, 27, 0.5);
  text-transform: capitalize;
}

@media only screen and (max-width: 767px) {
  .card-coursAssocie {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 23rem !important;
  }
  .card-coursAssocie__illustration {
    height: 20rem;
    width: 100%;
  }
  .card-coursAssocie__desc {
    margin-top: 2rem;
  }
}

.card-agenda {
  margin-bottom: 4rem;
}

.card-agenda__illustration {
  height: 20rem;
  width: 100%;
  overflow: hidden;
  margin-right: 2rem;
}

.card-agenda__illustration img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-agenda__desc {
  padding-top: 2rem;
}

.card-agenda__desc h4 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #0d0e1b;
  font-weight: 600;
  margin-bottom: 2rem;
}

.card-agenda__desc p {
  font-size: 1.5rem;
  color: rgba(13, 14, 27, 0.5);
}

.card-agenda__desc__pub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.card-agenda__desc__pub .icon {
  height: 2rem;
  width: 2rem;
  margin-right: .4rem;
}

.card-agenda__desc__pub .icon img {
  width: 100%;
  -o-object-fit: 100%;
     object-fit: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-agenda__desc__pub span {
  font-size: 1.5rem;
  color: rgba(13, 14, 27, 0.5);
  font-weight: bold;
}

.infoSup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.infoSup-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.infoSup-content .icon {
  height: 2rem;
  width: 2rem;
  margin-right: .5rem;
}

.infoSup-content .icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.infoSup-content span {
  font-size: 1.4rem;
  color: rgba(13, 14, 27, 0.5);
  display: block;
}

.topnav {
  padding: .3rem;
  background-color: #777fff;
}

@media only screen and (max-width: 576px) {
  .topnav {
    display: none;
  }
}

.topnav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topnav-content__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topnav-content__contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: .5;
}

.topnav-content__contact__item:not(:last-child) {
  margin-right: 2rem;
}

.topnav-content__contact__item .icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: .5rem;
}

.topnav-content__contact__item .icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.topnav-content__contact__item span {
  line-height: 2;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.7);
}

.topnav-content__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: .5;
}

.topnav-content__social .social-icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 1rem;
}

.topnav-content__social .social-icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.form {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 5rem 4rem;
}

.form--inscriptionTalent {
  background-color: #FFF;
  width: 100%;
  padding: 5rem 2rem;
}

.form__input__group {
  height: 5rem;
  position: relative;
  border-radius: 0.3rem;
  margin-bottom: 5rem;
}

.form label {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
  text-transform: capitalize;
}

.form__control, .form textarea, .form select {
  height: 5rem;
  font-size: 1.6rem;
  border-radius: 0.3rem;
  padding: 0 1rem;
  border: 1px solid #ccc;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
  background-color: transparent;
}

.form__control:focus, .form textarea:focus, .form select:focus {
  border: 1px solid #777fff;
  outline: none;
}

.form textarea {
  height: 20rem;
  margin-bottom: 3rem;
  padding: 2rem;
}

.space-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-space {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3rem;
}

.section-about {
  position: relative;
  padding: 5rem 0;
}

.section-about-illustration {
  height: 45rem;
  margin-top: 4rem;
}

.section-about-illustration img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(5rem, -4rem);
          transform: translate(5rem, -4rem);
  border-radius: 0.3rem;
}

@media only screen and (max-width: 991px) {
  .section-about-illustration {
    margin-bottom: 3rem;
    width: 100%;
  }
  .section-about-illustration img {
    -webkit-transform: translate(0, -4rem);
            transform: translate(0, -4rem);
  }
}

.section-about .owl-nav, .section-about .owl-dots {
  display: none !important;
}

.section-admission {
  position: relative;
  padding: 15rem 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(13, 14, 27, 0.9)), to(transparent)), url("../images/7278.jpg");
  background-image: linear-gradient(to right, rgba(13, 14, 27, 0.9), transparent), url("../images/7278.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media only screen and (max-width: 576px) {
  .section-admission {
    background-attachment: scroll;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(119, 127, 255, 0.7)), to(rgba(119, 127, 255, 0.7))), url("../images/7278.jpg");
    background-image: linear-gradient(to right, rgba(119, 127, 255, 0.7), rgba(119, 127, 255, 0.7)), url("../images/7278.jpg");
  }
}

.section-admission-illustration {
  height: 45rem;
  margin-top: 4rem;
}

.section-admission-illustration img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(-5rem, -4rem);
          transform: translate(-5rem, -4rem);
  border-radius: 0.3rem;
}

.section-admission .section-text-bloc {
  padding-right: 5rem;
}

.section-admission ul {
  padding: 0 1rem;
}

@media only screen and (max-width: 991px) {
  .section-admission-illustration {
    margin-bottom: 3rem;
    width: 100%;
  }
  .section-admission-illustration img {
    -webkit-transform: translate(0, -4rem);
            transform: translate(0, -4rem);
  }
  .section-admission .section-text-bloc {
    padding-right: 0;
    margin-bottom: 3rem;
  }
}

.section-feature {
  padding: 5rem 0;
  margin-bottom: 10rem;
}

.section-feature .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 991px) {
  .section-feature {
    margin-bottom: 0;
  }
}

.section-partenaire {
  background-color: #0d0e1b;
  background-image: url("../images/nanBg.svg");
  background-size: 2rem;
  padding: 5rem 0;
  position: relative;
  text-align: center;
}

.section-partenaire .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4rem auto 2rem;
}

.section-partenaire .partenaire-logo {
  height: 20rem;
  width: 20rem;
  margin: 2rem;
}

.section-partenaire .partenaire-logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section-news {
  position: relative;
  padding: 5rem 0;
  text-align: center;
}

.section-newsletter {
  padding: 5rem 0;
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(13, 14, 27, 0.5)), to(rgba(13, 14, 27, 0.5))), url("../images/7278.jpg");
  background-image: linear-gradient(to right, rgba(13, 14, 27, 0.5), rgba(13, 14, 27, 0.5)), url("../images/7278.jpg");
  background-size: cover;
  background-position: center;
}

.section-newsletter .form-box {
  width: 65%;
  height: 6rem;
  margin: 3rem auto;
  border: 1px solid #0f7a8b;
  background-color: #FFF;
  border-radius: 0.3rem;
}

.section-newsletter .form-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-newsletter .form-box input {
  width: 95%;
  height: 6rem;
  padding: 0 6rem 0 1rem;
  border: none;
  font-size: 1.6rem;
  background-color: transparent;
}

.section-newsletter .form-box input:focus {
  outline: none;
}

@media only screen and (max-width: 576px) {
  .section-newsletter {
    padding: 10rem 0;
  }
  .section-newsletter .form-box {
    width: 100%;
  }
  .section-newsletter .form-box form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-newsletter .form-box input {
    width: 100%;
    padding: 0 1rem;
    text-align: center;
  }
}

.section-map {
  width: 100%;
  height: 40rem;
}

.section-map iframe {
  width: 100%;
  height: 100%;
}

.form_inscription {
  min-height: 74rem;
  border-radius: 1rem;
  -webkit-box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFF;
  margin: 15rem auto;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .form_inscription {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.form_inscription .bloc__text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background-color: #0d0e1b;
  background-image: url("../images/nanBg.svg");
  background-size: 2.3rem;
  text-align: center;
  position: relative;
}

.form_inscription .bloc__text h1 {
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 10rem;
  font-size: 2rem;
}

@media only screen and (max-width: 767px) {
  .form_inscription .bloc__text h1 {
    margin-bottom: 3rem;
  }
}

.form_inscription .bloc__text p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.6rem;
}

.form_inscription .bloc__text .slogan {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .form_inscription .bloc__text .slogan {
    position: relative;
    bottom: 0;
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    margin: 4rem 0;
  }
}

.form_inscription .bloc__text .icon-nan {
  height: 10rem;
  width: 10rem;
  margin: 5rem auto 2rem;
}

.form_inscription .bloc__text .icon-nan img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form_inscription--validated .validated-msg {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  padding: 2rem 0;
}

.form_inscription--validated .validated-msg h3 {
  font-size: 3rem;
  text-transform: capitalize;
}

.form_inscription--validated .validated-msg span {
  display: block;
}

.form_inscription--validated .validated-msg .icon {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  background-color: #777fff;
  text-align: center;
  margin: 0 auto;
}

.form_inscription--validated .validated-msg .icon img {
  height: 100%;
  width: 60%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section-module {
  padding: 7rem 0;
}

.section-module__icon {
  height: 30rem;
  width: 30rem;
  padding: 3rem;
  overflow: hidden;
  -webkit-box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  border-radius: 3rem;
}

@media only screen and (max-width: 767px) {
  .section-module__icon {
    margin: 0 auto 4rem;
    height: 15rem;
    width: 15rem;
    padding: 1rem;
  }
}

.section-module__icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3rem;
}

.section-module .reverseRow {
  margin-bottom: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-module .reverseRow:nth-last-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.section-module ul li {
  color: rgba(13, 14, 27, 0.5);
  padding: 1rem 0;
}

.section-team {
  padding: 7rem 0;
}

.details-news {
  padding: 5rem 0;
}

.details-news .container {
  max-width: 80rem;
}

@media only screen and (max-width: 991px) {
  .details-news__bloc {
    margin-bottom: 5rem;
  }
}

.details-news__bloc__illustration {
  height: 50rem;
  border-radius: 0.3rem;
  -webkit-box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 5rem;
}

.details-news__bloc__illustration img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.details-news__bloc__desc h4 {
  font-size: 3rem;
  color: rgba(13, 14, 27, 0.7);
}

.details-news__bloc__desc p {
  font-size: 1.6rem;
  color: rgba(13, 14, 27, 0.5);
  margin-top: 2rem;
}

.details-news .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.details-news .share .icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #777fff;
  text-align: center;
  margin-left: 1rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.details-news .share .icon img {
  height: 100%;
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.details-news .share .icon:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.pedagogie {
  padding: 5rem 0;
}

.section-pedagogie {
  padding: 5rem 0;
}

.section-pedagogie .row {
  margin-bottom: 15rem;
}

.section-pedagogie .row:nth-last-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 991px) {
  .section-pedagogie .row {
    margin-bottom: 3rem;
  }
}

.section-illustration {
  height: 35rem;
  -webkit-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.29);
  margin-bottom: 4rem;
}

.section-illustration img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.3rem;
}

.section-testamonial {
  position: relative;
  padding: 5rem 0;
}

.section-testamonial .owl-prev,
.section-testamonial .owl-next {
  position: absolute !important;
  top: 50% !important;
  -webkit-transform: translateY(-50%) !important;
          transform: translateY(-50%) !important;
  height: 4rem !important;
  width: 4rem !important;
  border-radius: 50% !important;
  background-color: rgba(119, 127, 255, 0.5) !important;
  color: #FFF !important;
  display: block !important;
  font-size: 2rem !important;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.section-testamonial .owl-prev:hover,
.section-testamonial .owl-next:hover {
  background-color: #777fff !important;
  -webkit-transform: translateY(-50%) scale(1.05) !important;
          transform: translateY(-50%) scale(1.05) !important;
}

.section-testamonial .owl-prev {
  left: 20% !important;
}

.section-testamonial .owl-next {
  right: 20% !important;
}

.section-testamonial .owl-dots {
  display: none;
}

@media only screen and (max-width: 991px) {
  .section-testamonial .owl-prev {
    left: 10% !important;
  }
  .section-testamonial .owl-next {
    right: 10% !important;
  }
}

.section-detailModule {
  padding: 5rem 0;
}

.section-detailModule .section_titre {
  font-size: 3rem;
  color: #0d0e1b;
  margin-top: 3rem;
}

.section-detailModule__illustration {
  height: 40rem;
  -webkit-box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  overflow: hidden;
  margin-bottom: 3rem;
}

.section-detailModule__illustration img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-detailModule__desc h4 {
  font-size: 4rem;
  color: rgba(13, 14, 27, 0.7);
  padding-bottom: 2rem;
  position: relative;
}

.section-detailModule__desc p {
  font-size: 1.6rem;
  color: rgba(13, 14, 27, 0.5);
}

.section-cours {
  padding: 5rem 0;
}

.module-detail {
  border-radius: 0.3rem;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 3rem;
  background-color: #FFF;
  -webkit-box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
}

.module-detail__illustration {
  height: 20rem;
}

.module-detail__illustration img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.module-detail__desc {
  padding: 2rem 1rem;
}

.module-detail__desc h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 991px) {
  .module-detail {
    display: none;
  }
}

.section-service {
  position: relative;
  padding: 5rem 0;
}

.section-callToAction {
  background-color: #0d0e1b;
  background-image: url("../images/nanBg.svg");
  background-size: 2rem;
  padding: 5rem 0;
  position: relative;
  text-align: center;
  text-align: center;
}

.section-callToAction h3 {
  color: #FFF;
  font-size: 4rem;
}

@media only screen and (max-width: 576px) {
  .section-callToAction h3 {
    font-size: 2.5rem;
  }
}

.section-realisation {
  padding: 5rem 0;
  position: relative;
}

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 991px) {
  .contact-content {
    margin-top: 10rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 414px) {
  .contact-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-info {
  padding: 5rem 0;
}

.section-info h5 {
  font-size: 2rem;
  color: #777fff;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.section-info__desc p {
  font-size: 1.6rem;
  color: rgba(13, 14, 27, 0.5);
}

.section-info__desc ul li {
  color: rgba(13, 14, 27, 0.5);
  margin-bottom: 1rem;
}

@media only screen and (max-width: 991px) {
  .section-info__desc {
    margin-bottom: 5rem;
  }
}

.section-info__illustration {
  height: 40rem;
  overflow: hidden;
  border-radius: 0.3rem;
  -webkit-box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
}

.section-info__illustration img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-info .owl-nav, .section-info .owl-dots {
  display: none !important;
}

.section-objectif {
  position: relative;
  padding: 5rem 0;
}

@media only screen and (max-width: 991px) {
  .section-objectif--row {
    margin-top: 5rem;
  }
}

.section-objectif__illustration {
  height: 40rem;
  overflow: hidden;
  border-radius: 0.3rem;
  -webkit-box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
}

.section-objectif__illustration img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-objectif .card-content {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.6rem;
  color: #0d0e1b;
  font-weight: 500;
}

.section-inscription {
  position: relative;
  padding: 5rem 0;
}

.faq-presentation {
  padding: 5rem 0;
  position: relative;
}

.faq-presentation__illustration {
  height: 40rem;
  border-radius: 0.3rem;
  -webkit-box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
  overflow: hidden;
}

.faq-presentation__illustration img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.faq-presentation__desc p {
  font-size: 1.6rem;
  color: rgba(13, 14, 27, 0.5);
  line-height: 2;
}

.section-question {
  position: relative;
  padding: 5rem 0;
}

.section-question .card-accordion {
  background-color: #FFF;
  -webkit-box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
}

.section-question .card-accordion-text {
  font-size: 1.6rem;
  color: rgba(13, 14, 27, 0.5);
  padding: 2rem;
  line-height: 2;
}

.content-error {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.content-error h1 {
  font-size: 15rem;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 3rem;
  color: #777fff;
}

.content-error h2 {
  font-size: 3rem;
  color: #0d0e1b;
  text-transform: capitalize;
}

.content-error p {
  font-size: 1.6rem;
  color: rgba(13, 14, 27, 0.5);
}

.content-error .icon {
  height: 20rem;
  width: 20rem;
  margin-bottom: 4rem;
}

.content-error .icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 767px) {
  .content-error h1 {
    font-size: 10rem;
  }
  .content-error .icon {
    height: 15rem;
    width: 15rem;
  }
}

.navigation {
  background-color: #0d0e1b;
  background-image: url("../images/nanBg.svg");
  background-size: 2rem;
  z-index: 555;
}

@media only screen and (max-width: 1200px) {
  .navigation .button-link {
    display: none;
  }
}

.navigation .langage {
  position: relative;
  margin: 0 !important;
}

.navigation-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-content__icon-menu {
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 1200px) {
  .navigation-content__icon-menu {
    display: block;
  }
}

.navigation-content__icon-menu img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navigation-content__logo {
  height: 5rem;
  width: 5rem;
}

@media only screen and (max-width: 1200px) {
  .navigation-content__logo {
    height: 4rem;
    width: 4rem;
  }
}

.navigation-content__logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.navigation-content__menu {
  list-style: none;
  margin-bottom: 0;
}

@media only screen and (max-width: 1200px) {
  .navigation-content__menu {
    display: none;
  }
}

.navigation-content__menu__item {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 2rem 0;
  border-bottom: 4px solid transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navigation-content__menu__item:not(:last-child) {
  margin-right: 5rem;
}

.navigation-content__menu__item--active{
  border-bottom: 4px solid #777fff !important;
}

.navigation-content__menu__item--active a{
  color: #777FFF;
}

.navigation-content__menu__item:hover {
  border-bottom: 4px solid #777fff;
}

.navigation-content__menu__link--drop {
  cursor: default;
}

.navigation-content__menu-hover {
  width: 25rem;
  border-radius: 1rem;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.29);
  position: absolute;
  top: 9.4rem;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 55;
  padding: 2rem 1rem;
}

.navigation-content__menu-hover a {
  color: rgba(13, 14, 27, 0.5);
  font-size: 1.5rem;
  text-transform: capitalize;
  -webkit-transition: all .2s;
  transition: all .2s;
  display: block;
  margin-bottom: 1.5rem;
}

.navigation-content__menu-hover a:hover {
  color: #777fff;
}

.navigation-content__menu-hover .icon-menu-hover {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.navigation-content__menu-hover .icon-menu-hover img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navigation-content__menu-hover--language {
  width: 20rem;
}

@media only screen and (max-width: 1200px) {
  .navigation-content__menu-hover--language {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
  }
}

.navigation-content__menu__item:hover .navigation-content__menu-hover {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(-30%) translateY(-2.5rem);
          transform: translateX(-30%) translateY(-2.5rem);
}

@media only screen and (max-width: 1200px) {
  .navigation-content__menu__item:hover .navigation-content__menu-hover--language {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-90%) translateY(-2.5rem);
            transform: translateX(-90%) translateY(-2.5rem);
  }
}

.navigation-content__menu__link-language {
  height: 3rem;
  width: 3rem;
  display: block;
}

.navigation-content__menu__link-language img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.navigation .list-language__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 2rem;
}

.navigation .list-language__item .logo-drapeau {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
}

.navigation .list-language__item .logo-drapeau img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.navigation .list-language__item .language-country {
  color: rgba(13, 14, 27, 0.5);
  font-size: 1.5rem;
  text-transform: capitalize;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navigation .list-language__item:hover > .language-country,
.navigation .list-language__item:active > .language-country {
  color: #777fff;
}

/* Header 2 *******************************************************/
.header2 {
  position: relative;
  padding: 15rem 0 5rem;
}

.header2-illustration {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 60rem;
  z-index: -1;
}

.header2-illustration img {
  height: 100%;
  position: absolute;
  right: 0;
}

@media only screen and (max-width: 1200px) {
  .header2-illustration img {
    -webkit-filter: contrast(30%);
            filter: contrast(30%);
  }
}

.header2-text h1 {
  color: rgba(13, 14, 27, 0.8);
  font-weight: 600;
  font-size: 6rem;
  text-transform: capitalize;
}

.header2-text span {
  font-size: 3rem;
  font-weight: 400;
  color: rgba(13, 14, 27, 0.5);
  display: block;
  margin-bottom: 3rem;
  max-width: 60rem;
}

@media only screen and (max-width: 1200px) {
  .header2-text span {
    color: rgba(13, 14, 27, 0.9);
  }
}

@media only screen and (max-width: 991px) {
  .header2-text {
    text-align: center;
  }
  .header2-text span {
    margin: 2rem auto 0;
  }
}

@media only screen and (max-width: 630px) {
  .header2-text h1, .header2-text span {
    color: #FFF;
  }
}

.header2-box {
  width: 90%;
  padding: 5rem;
  background-color: #FFF;
  border-radius: 1rem;
  -webkit-box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0px 15px -2px rgba(0, 0, 0, 0.1);
  margin: 8rem 0;
}

@media only screen and (max-width: 767px) {
  .header2-box {
    margin: 10rem auto 5rem;
    padding: 2rem;
  }
}

.header2-box .title {
  font-size: 2rem;
  font-family: 'Press Start 2P', cursive;
  color: #777fff;
  text-transform: uppercase;
  line-height: 2;
  margin-right: 2rem;
  display: inline-block;
}

@media only screen and (max-width: 576px) {
  .header2-box .title {
    font-size: 1.5rem;
  }
}

.header2-box span {
  color: rgba(13, 14, 27, 0.5);
  font-size: 1.6rem;
  font-family: 'Press Start 2P', cursive;
  text-transform: capitalize;
}

@media only screen and (max-width: 576px) {
  .header2-box span {
    font-size: 1.4rem;
  }
}

.header2--smallHeight {
  min-height: 30rem;
  padding: 10rem 0 0rem;
}

.header2--smallHeight .header2-illustration {
  height: 50rem;
  width: 100%;
}

.header2--smallHeight .header2-text h1 {
  font-size: 5rem;
}

.header2--smallHeight .header2-text span {
  font-size: 2rem;
}

.footer {
  width: 100%;
  min-height: 20rem;
  background-color: #0d0e1b;
  background-image: url("../images/nanBg.svg");
  background-size: 2rem;
  padding: 5rem;
}

@media only screen and (max-width: 991px) {
  .footer-card {
    margin-bottom: 3rem;
  }
}

.footer h4 {
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.footer-contact span {
  color: rgba(255, 255, 255, 0.7);
}

.footer-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.footer-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-list a {
  color: rgba(255, 255, 255, 0.7);
  text-transform: capitalize;
  margin-bottom: 1rem;
  display: inline-block;
  font-size: 1.5rem;
}

.footer-icon-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 991px) {
  .footer-icon-social {
    margin: 2rem 0;
  }
}

.footer-icon-social .social-box {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #777fff;
  text-align: center;
  margin-right: 1.5rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer-icon-social .social-box img {
  width: 60%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer-icon-social .social-box:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.footer .copyright {
  padding: 2rem 0;
  border-top: 1px dashed rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .copyright span {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}

.sidebar {
  position: fixed;
  top: 0;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  padding: 5rem 0;
  z-index: 2;
  width: 30rem;
  height: 100vh;
  background-color: #0d0e1b;
  -webkit-transition: all .4s;
  transition: all .4s;
  background-image: url("../images/nanBg.svg");
  background-size: 2rem;
  overflow-x: hidden;
}

.sidebar .icon-close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  height: 2rem;
  width: 2rem;
}

.sidebar .icon-close img {
  height: 100%;
  width: 100%;
}

.sidebar__menu__item {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__menu__item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar .collapse-icon {
  height: 2rem;
  width: 2rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.sidebar .collapse-icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sidebar .collapse-icon-rotate {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.sidebar--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
/*# sourceMappingURL=main.css.map */